<h2>Lists</h2>

<p><%= link_to 'Add list', new_list_path %></p>

<ul>
<% @lists.each do |list| %>
  <li><button type="button" class="btn btn-primary"><%= link_to list.name, list_path(list) %></button></li>
<% end %>
</ul>
